*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: #2F3946;
    display: flex;
    align-items: center;
    
}
h1{
    padding: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header img{
    height: 100%;
}
main{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #1E2D3B;
    padding: 50px 100px 50px 100px;    
    overflow: auto;

}
.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #2F3946;
    width: 200px;
    height: 350px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: center;
}
.card img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.card h1{
    font-size: 25px;
}
.card p{
    color: gray;
}